:root {
  --color-background: #f2f2f2;
  --color-text: #222;
  --color-text-aside: #707070;
  --color-link: #4da6ff;

  --color-menu-divider: #eee;
  --color-menu-divider-focus: #000;
  --color-menu-label: #707070;

  --color-panel: #fff;
  --color-panel-divider: #eee;

  --color-comment-tag: #707070;
  --color-comment-tag-text: #fff;

  --color-code-background: rgba(0, 0, 0, 0.9);

  --color-ts: #9600ff;
  --color-ts-interface: #647f1b;
  --color-ts-enum: #937210;
  --color-ts-class: #0672de;
  --color-ts-private: #707070;

  --color-toolbar: var(--color-panel);
  --color-toolbar-text: #333;
}

:root.dark {
  --color-background: #000;
  --color-text: #f2f2f2;

  --color-menu-divider: #333;
  --color-menu-divider-focus: #222;
  --color-menu-label: #707070;

  --color-panel: #222;
  --color-panel-divider: #4d4d4d;

  --color-ts: #ca80ff;
  --color-ts-interface: #97bf28;
  --color-ts-enum: #e6b319;
  --color-ts-class: #4da6ff;
  --color-ts-private: #707070;

  --color-toolbar: #444;
  --color-toolbar-text: #f2f2f2;
}

#themeFAB {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--color-panel);
  color: var(--color-text);
  transition: all 0.5s ease;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

#themeFAB:hover {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.4);
}

#themeFAB:active {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#themeFAB:focus {
  border: 1px solid var(--color-panel-divider);
}

:root.dark #themeFAB {
  transform: rotate(180deg);
}

/* Overrides */
.tsd-breadcrumb {
  margin-bottom: 1em;
}
